.profileUpdatePage {
    height: 100%;
    display: flex;
}

@media (max-width: 768px) {

    /* Assuming 'md' corresponds to a medium breakpoint */
    .profileUpdatePage {
        flex-direction: column;
        overflow: scroll;
    }

    .profileUpdatePage .formContainer {
        flex: none;
        height: max-content;
    }

    .profileUpdatePage .sideContainer {
        flex: none;
        height: max-content;
    }

    .profileUpdatePage .sideContainer .avatar {
        width: 70%;
        /* Adjusted width for smaller screens */
    }
}

.profileUpdatePage .formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileUpdatePage .formContainer form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profileUpdatePage .formContainer form .item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profileUpdatePage .formContainer form .item label {}

.profileUpdatePage .formContainer form .item input {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

.profileUpdatePage .formContainer form button {
    padding: 20px;
    border-radius: 5px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.profileUpdatePage .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.profileUpdatePage .sideContainer .avatar {
    width: 50%;
    object-fit: cover;
}