/* ListPage.css */
.listPage {
    display: flex;
    height:calc(100vh - 100px);
    margin-top: 2px;
    overflow: hidden;
}

.listPage .listContainer {
    flex: 3;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding-right: 50px;
}

.listPage .wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
}

.listPage .mapContainer {
    flex: 2;
    height: calc(100vh-100px);
    background-color: #fcf5f3;
    position: sticky;
    top: 0px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .listPage {
        /* flex-direction: column; */
    }

   .listPage .mapContainer {
        display: none;
    }
}


/* .listPage {
    display: flex;
    height: 100%;
    margin-top: 2px;
}

.listContainer {
    flex: 3;
    height: 100%;
    overflow-y: scroll;
}

.wrapper {
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 50px;
}
.mapContainer {
    flex: 2;
    height: 90vh;
    background-color: #fcf5f3;
    overflow-y: hidden;
}


@media (max-width: 768px) {
    .listPage {
        
    }

    .mapContainer {
        display: none;
    }
} */